<nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>

      <div class="navbar-header">
        <span class='navbar-brand'>
          Experience Logger
        </span>
      </div>


      <ul class="nav navbar-nav navbar-right" >

      	<li>
      		<a href='#/api'>API</a>
      	</li>
        <li class="dropdown" ng-show='me'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            &nbsp;@{{me.screenName}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>

<div class='container' style="margin-top: 50px">

	<hr/>

	<div class='row'>
	
		<div class='col-sm-7'>
			<input class="form-control input-lg" type="text" placeholder="What happened?" ng-model='newExperience.description'>
		</div>

		<div class='col-sm-2 text-center'>
			<a class='btn btn-link btn-strong btn-lg' ng-hide='newExperience.moodBefore' ng-click='setMoodBefore()'>
				<i class="fa fa-chevron-circle-left"></i>
				Mood before
			</a> 
			<a class='btn btn-link btn-strong btn-lg' ng-show='newExperience.moodBefore' ng-click='setMoodBefore()' ng-style="getStyle(newExperience.moodBefore)">
				<i class="fa fa-chevron-circle-left"></i>
				{{newExperience.moodBefore.name}}
			</a>
		</div>

		<div class='col-sm-2 text-center' >
			<a class='btn btn-link btn-strong btn-lg' ng-hide='newExperience.moodAfter' ng-click='setMoodAfter()'>
				<i class="fa fa-chevron-circle-right"></i>
				Mood after
			</a>

			<a class='btn btn-link btn-strong btn-lg' ng-show='newExperience.moodAfter' ng-click='setMoodAfter()' ng-style="getStyle(newExperience.moodAfter)">
				<i class="fa fa-chevron-circle-right"></i>
				{{newExperience.moodAfter.name}}
			</a>
		</div>

		<div class='col-sm-1'>
			<a class='btn btn-lg btn-default' ng-click='addExperience()'> Add</a>
		</div>
	
	</div>

	<hr/>

	<div class='row'>

		<div class='col-sm-12'>
			<ul class='list-inline'>
				<li class='text-muted'>filter by</li>

				<li>
					<a ng-hide='filters.moodBefore' ng-click='setFilterMoodBefore()' class='btn-strong'>
						<i class="fa fa-chevron-circle-left"></i> mood before
					</a>
					<a ng-show='filters.moodBefore' ng-click='clearFilterMoodBefore()' class='btn-strong' ng-style='getStyle(filters.moodBefore)'>
						<i class="fa fa-chevron-circle-left"></i> {{filters.moodBefore.name}}
					</a>
				</li>

				<li>
					<a ng-hide='filters.moodAfter' ng-click='setFilterMoodAfter()' class='btn-strong'>
						<i class="fa fa-chevron-circle-right"></i> mood after
					</a>

					<a ng-show='filters.moodAfter' ng-click='clearFilterMoodAfter()' class='btn-strong' ng-style='getStyle(filters.moodAfter)'>
						<i class="fa fa-chevron-circle-right"></i> {{filters.moodAfter.name}}
					</a>
				</li>

				<li ng-repeat='tag in filters.tags' class='has-detail'>
					<a class='btn-strong' ng-click='removeTagFilter(tag)'><i class="fa fa-tag"></i> {{tag}}</a>
				</li>


				<li >
					<input type='text' class='input-badge' ng-model="newTagFilter" placeholder="tag" on-enter='addTagFilter()'/>
				</li>
			</ul>
		</div>

	</div>

	<div class='row'>

		<div class='col-sm-12'>

			<ul class="list-group">
				<li class='list-group-item' ng-repeat="experience in experiences">
					<experience experience='experience'></experience>
				</li>
			</ul>
		</div>

		<br/><br/>

	</div>
</div>




