<div class='container'>

	<div ng-show='unauthorized'>
		
		<div class='row'>
			
			<div class='col-sm-offset-3 col-sm-6 '>

				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3>Please log in or register</h3>
					</div>

					<div class='panel-body'>
						<form class="form-horizontal" role="form"  >

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="radio" ng-model="loginOrRegister" value="login">  I already have an account <br/>
									<input type="radio" ng-model="loginOrRegister" value="register">  I need a new account <br/>
								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
								</div>
							</div>
							<div class="form-group" ng-show="loginOrRegister == 'register'">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="password" class="form-control" id="inputPassword2" placeholder="Password (again)" ng-model="password2">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-default" ng-click="login()" ng-show="loginOrRegister == 'login'">
										Log In
									</button>
									<button class="btn btn-default" ng-click="register()" ng-show="loginOrRegister == 'register'">
										Register
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show='me'>
		Hi {{me.email}} (<a ng-click="logout()">log out</a>)


		<hr/>


		<div class='row'>

			<div class='col-sm-4'>
				<mood-canvas valence='mood.valence' arousal='mood.arousal'></mood-canvas>
			</div>
			
			<div class='col-sm-8'>
				<ul>
					<li ng-repeat="nearbyMood in nearbyMoods">
						<a ng-click='mood.name=nearbyMood.name'>{{nearbyMood.name}}</a>
					</li>
				</ul>
			</div>
		</div>

		<hr/>

		{{mood}}
	</div>
</div>